@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    scroll-behavior: smooth;
    transition: 0.2s ease-in-out;
    color: #000;
    text-decoration: none;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
/* *
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
} */
:root{
    --Soft-Green: #AEBC41;
    --Soft-Orange: hsl(39, 71%, 50%);
    --Grayish-Blue: hsl(229, 8%, 60%);
    --Very-Dark-Blue: hsl(229, 31%, 21%);
    --box-shadow: .5rem .5rem  0 #6d7a08;
    --text-shadow: .4rem .4rem  0 rgba(0, 0, 0, .2);
    --border: .2rem  solid var(--green);
}
::selection{
    background-color: #1c0522;
    color: #fff;
}
body
{
    min-height: 100vh;
    /* overflow-x: hidden; */
    /* overflow-y: ; */
    background: #1c0522;
}

/* footer section starts */
.footer .box-container{
    display:flex;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 11rem;
    margin-top: -30rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color: white;
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    color: white;
    padding: 1rem 0;
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color: white;
    /* border-color: var(--text-shadow);
    border: 20px; */
    /* box-shadow: 0rem 0.5rem 1.5rem rgba(0, 0, 0, .25); */
    /* box-shadow: .2em var(--text-shadow); */
    /* text-shadow: ; */
}

.footer .box-container .box h3{
    color: white;
}

.footer .box-container .box a:hover i{
    padding-right:1rem;
}


.footer .credit{
    padding: 0.5rem;
    /* padding-top: 0.5rem; */
    /* padding-bottom: -75rem; */
    text-align: center;
    font-size: 2rem;
    margin-top: 1%;
    margin-bottom: 5%;
    color: white;
    border-top: .1rem solid whitesmoke;
}


.footer .credit span{
    color: white;
    cursor: pointer;
    /* height: 3%; */
}


/* footer section ends */

/* .slideanim {
    visibility:hidden;
    visibility:visible\9;For old IE browsers IE6-8 */
/* }
.slideanim.slide {                  
    visibility: visible;                  
    animation: slide 1s;
}
.slideanim::after { */
    /* useful when its child elements are float:left; */
    /* content: "";
    display: table;
    clear: both;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(50%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0);
    } 
} */
/* 
#slide {
    position: absolute;
    left: -600px;
    width: 600px;
    height: 370px;
    background: blue;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
} */